#app
  margin-top: 4em

h1.scheduler-form-header
  margin-bottom: 2em

.scheduler-form-actions
  margin-top: 4em

  button:nth-child(2)
    float: right

.ui.fluid.input
  position: relative

  + .ui.fluid.input
    margin-top: 1em

.ui.pointing.red.label.shared-error-label
  z-index: 1
  position: absolute
  top: 3.1em

  &.below
    top: - 4em
